@font-face {
    font-family: 'bellota';
    src: url('../fonts/Bellota-Regular.otf') format('truetype');
}
    
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    font-family: 'bellota', 'sans-serif';
}

img {
    margin: 20px 0 40px 0;
    width: 300px;
}

.formulaire {
    text-align: center;
    background: rgba(21, 197, 189, .3);
    border-radius: 10px;
    padding: 20px 50px!important;
}

.genre {
    margin: 12px 0 20px 0;
}

.error {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
    color: #f00000;
    margin: 4px 0 0 0;
}

.hide {
    display: none;
}